@import 
url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Pacifico|Quicksand');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|KoHo|Reem+Kufi|Trocchi');

body{
    margin:0;
}
/* resets */
.body {
    margin:0;
    
    /*background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    */
    background: url(" background1.jpg");
    background-size:cover;
    height:40rem;
    padding-top: 5rem;
    padding-left: 0;
    opacity:0.9;
        
}

/* main */
header {
    height: 4rem;
    z-index: 10;
}
.header-banner {
    background-color: #333;
    background-image: url('https://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: 1;
}

header h1 {
    background-color: rgba(18,72,120, 0.8);
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
    z-index: 1;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

.logo{
    z-index:2;
    float:left;
}

.signin{
    float: right;
    font-family: 'Quicksand', sans-serif;


}

nav {
    width: 100%;
    height: 4rem;
    background: #292f36;
    postion : fixed;
    z-index: 10;
    margin : 0;
}

nav div {
    color: white;
    font-size:2rem;
    line-height: 4rem;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 4rem;
    /*margin-left: 10px;*/
    padding : 1.33rem;
    padding-top: 0;
    padding-bottom: 0;
    font-family:Arial;
    height: 4rem;
}
nav ul li a {
    text-decoration: none; 
    color: #a9abae;
    font-size: 1.5rem;
}
.signup:hover{
    background-color: white;

}
nav ul li img{
    margin-left: 0rem;
    padding-left: 0rem;
    width : 100%;
    height:4rem;
    width:18rem;
}

/* demo content */
.insidebody{
    /*padding:10%;
    height: 100%;
    margin-top:0;
    top:0;
    height:100%;*/
   
    text-align: center;
}

#textanimation1,#textanimation2{
    display : table-row;
}

.textanimation1{
    width: 40%;
    font-size: 60px;
    font-family: 'Encode Sans Condensed', sans-serif;

    color : black; 
    font-weight: bold;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    

    
     -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;

}

.textanimation2{
    width: 40%;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;

    color : black; 
    font-weight: normal;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    

    
     -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: top;
    opacity: 1;
  }
}



.body1header{
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: red;
    text-align: center;
    font-weight: normal;
    padding-top:2.5rem;
    padding-bottom: 2.5rem;
}

.left{
    padding-left:10rem;
    margin-top: 2rem;
    width:30rem;
    float:left;
}

.right{
    padding-right:10rem;
    width:30rem;
    float:right;
}

.number{
    color:red;
    font-family: 'KoHo', sans-serif;
    font-size: 3rem;
    padding : 1.5rem;
    padding-left: 0;
}

.tag{
    color:black;
    font-family: 'Comfortaa', cursive;


    padding-bottom:0.5rem;
    font-size:2rem;
    font-weight: bold;
}

.tagcontent{
    color:black;
    font-family: 'Encode Sans Condensed', sans-serif;


    font-size:1.5rem;
}

.img1{
    height: 13rem;
    width:13rem;
    float:right;
    padding-right: 15rem;
    margin-top: 3rem;
    
}

.img2{
    height: 10rem;
    width:12rem;
    float:left;
    padding-left: 15rem;
    margin-top: 2rem;
}

.img3{
    height:11rem;
    width:24rem;
    float:right;
    padding-right: 15rem;
    margin-top: 3rem;
}

.img4{
    height:8rem;
    width:20rem;
    float:left;
    padding-left: 15rem;
    margin-top: 5rem;
}


 

